footer.py-4
  .container-fluid
    .container
      .row
        .col-12.col-md-3
          em.h5.fw-bold BLUE.PARTS
          small.d-block.mb-3.text-muted.mt-2 © 2017-2020
        .col-12.col-md-3
        .col-12.col-md-3
        .col-12.col-md-3
          h5 Contact Us
          span  Hotline:02-0263298