extends ../components/common/layout

block header
  include ../components/common/header/header-inner
block content
  main.main.pt-3.pt-md-5
    .container
      h2 History orders
      hr
      .row.mt-3
        .col-12
          table#orderTable.mb-4.mt-1.table.table-striped.table-bordered.responsive.nowrap.dataTable-load
            thead
              tr
                th Date
                th Order
                th Item
                th Amout
                th Rate
                th Track Number
                th Status
            tbody
              -for (var x = 0; x < 30; x++)
                tr
                  td 3570533030
                  td GEAR SUB-ASSY,  COUNTER DRIVEN
                  td 3
                  td 26193.60 THB
                  td 26193.60 THB
                  td -1
                  td
                    .badge.bg-danger RETURNED_TO_CARMAN
