extends components/common/layout

block header
  include components/common/header/header-inner
block content
  #modalAddAddress.modal.fade(tabindex="-1" aria-labelledby="modalAddAddressLabel" aria-hidden="true")
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          h5.modal-title Add new address
          button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
        .modal-body
          form(action="")
            .form-group.mb-2
              label.mb-1.fs-7 Name:
              .input-group.input-group-sm
                input.form-control
            .form-group.mb-2
              label.mb-1.fs-7 Phone:
              .input-group.input-group-sm
                input.form-control.phone-mask(type="phone")
            .form-group.mb-2
              label.mb-1.fs-7 Country:
              .input-group.input-group-sm
                select.form-select(aria-label="Default select example")
                  option(selected) Select a Country...
                  option(value="1") English
                  option(value="1") ไทย
            .form-group.mb-2
              label.mb-1.fs-7 Postcode:
              .input-group.input-group-sm
                input.form-control
            .form-group.mb-2
              label.mb-1.fs-7 State/Province/Region:
              .input-group.input-group-sm
                input.form-control
            .form-group.mb-2
              label.mb-1.fs-7 City:
              .input-group.input-group-sm
                input.form-control
            .form-group.mb-2
              label.mb-1.fs-7 Address 1:
              .input-group.input-group-sm
                input.form-control
            .form-group.mb-2
              label.mb-1.fs-7 Address 2:
              .input-group.input-group-sm
                input.form-control
            .form-group.mb-3
              label.mb-1.fs-7 Tax id number:
              .input-group.input-group-sm
                input.form-control.phone-mask
            .form-group
              a.btn.btn-primary.btn-sm(href="#") Save address
  main.main.pt-3.pt-md-5
    .container
      h2 Client details
      hr
      .row.mt-3
        .col.col-3.d-none.d-lg-block
          .list-group.sticky-md-top.top-1
            a.list-group-item.list-group-item-action(href="/profile-me.html") User details
            a.list-group-item.list-group-item-action.active(href="/profile-client.html") Client details
            a.list-group-item.list-group-item-action(href="#") Logout
        .col.col-12.col-md-6
          form#userMe.needs-validation(novalidate)
            .row
              .col-12.col-md-12.col-lg-7
                .mb-3
                  .form-group.mb-2
                    label.mb-2 Email
                    input.form-control(type="email" required)
                .mb-3
                  .form-group.mb-2
                    label.mb-2 Tel
                    input.form-control.phone-mask(type="phone")
                .mb-3
                  .form-group.mb-2
                    label.mb-2 Company Name
                    input.form-control(type="text" required)
              .col-12.col-md-12
                .form-group
                  button.btn.btn-primary.w-25(href="#" type="submit") Save
              .col-12
                hr
              .col-12.col-lg-6.mb-2
                .form-group.mb-0
                  h5 My settings
                  select.form-select(aria-label="Default select example")
                    option(selected) Select a language...
                    option(value="1") English
                    option(value="1") ไทย
        .col-12.col-lg-9.offset-0.offset-lg-3
          .row
            .col-12
              hr
            .col-12.col-md-4
              .card.card-delivery.mb-3.mb-md-0
                .card-body
                  .form-check.mb-0.user-dropdown
                    input#flexRadioDefault1.form-check-input(type="radio" name="flexRadioDefault")
                    label.form-check-label.d-block.user-dropdown(for="flexRadioDefault1")
                      .card-title.fw-bold(title="Adress #1123123123") Adress #1123123123
                      .card-text.fs-7.mb-1  123123123123, Ban Bat, Khet Pom Prap Sattru Phai, Bangkok, 10100, Thailand
                      hr
                      .card-subtitle
                        span.text-secondary.fs-7  Phone: 
                        span.fs-7 123123123123
                      hr
                  a.card-link.ms-4(href="#" data-bs-toggle="modal" data-bs-target="#modalAddAddress" type="submit") Edit
                  a.card-link(href="#") Remove
            .col-12.col-md-4
              .card.border-primary.card-delivery.mb-3.mb-md-0
                .card-body
                  .form-check.mb-0.user-dropdown
                    input#flexRadioDefault2.form-check-input(type="radio" name="flexRadioDefault" checked)
                    label.form-check-label.d-block.user-dropdown(for="flexRadioDefault2")
                      .card-title.fw-bold(title="Adress #1123123123") Adress #1123123123
                      .card-text.fs-7.mb-1  123123123123, Ban Bat, Khet Pom Prap Sattru Phai, Bangkok, 10100, Thailand
                      hr
                      .card-subtitle
                        span.text-secondary.fs-7  Phone: 
                        span.fs-7 123123123123
                      hr
                  a.card-link.ms-4(href="#" data-bs-toggle="modal" data-bs-target="#modalAddAddress" type="submit") Edit
                  a.card-link(href="#") Remove
            .col-12.col-md-4
              .card.card-delivery.mb-3.mb-md-0
                .card-body
                  .form-check.mb-0.user-dropdown
                    input#flexRadioDefault3.form-check-input(type="radio" name="flexRadioDefault")
                    label.form-check-label.d-block.user-dropdown(for="flexRadioDefault3")
                      .card-title.fw-bold(title="Adress #1123123123") Adress #1123123123
                      .card-text.fs-7.mb-1  123123123123, Ban Bat, Khet Pom Prap Sattru Phai, Bangkok, 10100, Thailand
                      hr
                      .card-subtitle
                        span.text-secondary.fs-7  Phone: 
                        span.fs-7 123123123123
                      hr
                  a.card-link.ms-4(href="#" data-bs-toggle="modal" data-bs-target="#modalAddAddress" type="submit") Edit
                  a.card-link(href="#") Remove
            .col-12.col-md-4
              button.btn.btn-primary.w-75.mt-3(data-bs-toggle="modal" data-bs-target="#modalAddAddress" type="submit") add new address