.row.mb-4.mt-4.mt-md-0
    .col.col-12.col-lg-4
        .d-flex.align-items-center.mb-3
            .d-block
                .fs-7.d-block.text-secondary VIN
                span.d-block.fw-bold 123123123
        hr
        .d-flex.align-items-center.mb-3
            .d-block
                .fs-7.d-block.text-secondary Doors Number
                span.d-block.fw-bold type
        hr
        .d-flex.align-items-center.mb-3
            .d-block
                .fs-7.d-block.text-secondary Frame Type:
                span.d-block.fw-bold ZWA10
        hr
        .d-flex.align-items-center
            .d-block
                .fs-7.d-block.text-secondary Fuel Type:
                span.d-block.fw-bold Petrol
    
    .col.col-12.col-lg-4
        .d-flex.align-items-center.mb-3
            .d-block
                .fs-7.d-block.text-secondary Tyres Size:
                span.d-block.fw-bold 195/65 R15 91V
        hr
        .d-flex.align-items-center.mb-3
            .d-block
                .fs-7.d-block.text-secondary Motor Oil: 
                span.d-block.fw-bold 10w40
        hr
        .d-flex.align-items-center.mb-3
            .d-block
                .fs-7.d-block.text-secondary Chassis Code
                span.d-block.fw-bold ZWA10L-AHXBBC
        hr
        .d-flex.align-items-center.mb-3
            .d-block
                .fs-7.d-block.text-secondary Engine Code
                span.d-block.fw-bold 5ZRFXE;1800CC 16-VALVE DOHC EFI
    .col.col-12.col-lg-4
        .d-flex.align-items-center.mb-3
            .d-block
                .fs-7.d-block.text-secondary Engine №:
                span.d-block.fw-bold type
        hr
        .d-flex.align-items-center
            .d-block
                .fs-7.d-block.text-secondary Transmission Type:
                span.d-block.fw-bold CONTINUOUSLY VARIABLE TRANSMISSION