h2 Search by part name
.input-group.mt-4.mb-2
  input.form-control(placeholder="Enter spare part name...")
  button.btn.btn-primary
    i.bi.bi-search
table#garagemodelTable.mb-4.mt-1.table.table-striped.table-bordered.responsive.nowrap.dataTable-load
  thead
    tr
    th code
    th Years
    th Engine Type
    th Transmission
    th body
    th Region
  tbody
    -for (var x = 0; x < 30; x++)
    tr
      td BADM
      td 2014
      td=x  
        a(href="") 2000 GASOLINE
      td AUTOMATIC TRANSMISSION 6-SPEED
      td SEDAN 4-DOOR
      td TH
