.sticky-md-top.top-1
  img.card-img(src="https://auto.vercity.ru/img/magazine/old/40817.jpg")
  a.btn.btn-primary.d-block.mt-3(href="#") Add to garage
  a.btn.btn-danger.d-block.mt-2(href="#") Remove to garage
  hr.mt-3.mb-4
  h5 SPARE PARTS CATALOG
  .list-group.mt-3.bg-white.mb-3
    a.list-group-item.list-group-item-action(href="#") Tool/Engine/Fuel
    a.list-group-item.list-group-item-action(href="#") Power Train/Chassis
    a.list-group-item.list-group-item-action(href="#") Body Parts
    a.list-group-item.list-group-item-action(href="#") Electrical