header.position-absolute.w-100.fixed-top
  .navbar.navbar-expand-lg.bg-dark.py-1
    .container
      ul.nav.ms-auto.fs-7
        li.nav-item.dropdown
          a(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false").nav-link.link-light.px-3.py-0.dropdown-toggle#navbarDarkDropdownMenuLink Language
          ul.dropdown-menu(aria-labelledby="navbarDarkDropdownMenuLink")
            li
              a(href="").dropdown-item English
            li
              a(href="").dropdown-item ไทย
        li.nav-item
          a(href="#").nav-link.link-light.px-3.py-0  Help
        li.nav-item
          a(th:href="@{/login}" th:text="#{label.login}").nav-link.link-light.px-3.py-0.pe-0 Login


  .py-2
    .navbar.navbar-expand-lg
      .container
        .d-flex.align-items-center.w-100
          a.navbar-brand.me-auto(th:href="${lang_prefix} + @{/}")
            em.h5.fw-bold.text-white(th:text="#{logo.text}") BLUE.PARTS




