extends ../components/common/layout

block header
  include ../components/common/header/header-inner
block content
  main.main.pt-3.pt-md-5
    .container
      h2 Supplier details
      hr
      .row.mt-3
        .col.col-12.col-md-6
          form.needs-validation(method="POST" action)
            .row
              .col-12.col-md-12.col-lg-7
                .mb-3
                  .form-group.mb-2
                    label.mb-2 Company Name
                    input.form-control(type="text" required)
                .mb-3
                  .form-group.mb-2
                    label.mb-2 Email
                    input.form-control(type="email" required)
                .mb-3
                  .form-group.mb-2
                    label.mb-2 Address:
                    input.form-control.phone-mask(type="text")
                .mb-3
                  .form-group.mb-2
                    label.mb-2 Tax id number:
                    input.form-control.phone-mask(type="text")
                .mb-3
                  .form-group.mb-2
                    label.mb-2 Tel:
                    input.form-control.phone-mask(type="phone")
                .mb-3
                  .form-group.mb-2
                    label.mb-2 Address:
                    input.form-control.phone-mask(type="text")
              .col-md-12
                .form-group.mb-2
                  button.btn.btn-primary.w-25(href="#" type="submit") Update
              .col-12
                hr
              .col-12.col-lg-6.mb-2
                .form-group.mb-0
                  h5 My settings
                  select.form-select(aria-label="Default select example")
                    option(selected) Select a language...
                    option(value="1") English
                    option(value="1") ไทย
