@import "../utils/variables";

// Required

@import "../../../node_modules/bootstrap/scss/bootstrap-utilities";

@import "../../../node_modules/bootstrap/scss/bootstrap-reboot";

@import "../../../node_modules/bootstrap/scss/bootstrap-grid";

@import "../../../node_modules/bootstrap/scss/helpers";

// Optional

@import "../../../node_modules/bootstrap/scss/reboot";

@import "../../../node_modules/bootstrap/scss/type";

@import "../../../node_modules/bootstrap/scss/buttons";

@import "../../../node_modules/bootstrap/scss/navbar";

@import "../../../node_modules/bootstrap/scss/nav";

@import "../../../node_modules/bootstrap/scss/containers";

@import "../../../node_modules/bootstrap/scss/modal";

@import "../../../node_modules/bootstrap/scss/transitions";

@import "../../../node_modules/bootstrap/scss/close";

@import "../../../node_modules/bootstrap/scss/forms";

@import "../../../node_modules/bootstrap/scss/card";

@import "../../../node_modules/bootstrap/scss/grid";

@import "../../../node_modules/bootstrap/scss/dropdown";

@import "../../../node_modules/bootstrap/scss/tooltip";

@import "../../../node_modules/bootstrap/scss/badge";

@import "../../../node_modules/bootstrap/scss/breadcrumb";

@import "../../../node_modules/bootstrap/scss/pagination";

@import "../../../node_modules/bootstrap/scss/list-group";

@import "../../../node_modules/bootstrap/scss/tables";

@import "../../../node_modules/bootstrap/scss/root";

@import "../../../node_modules/bootstrap/scss/button-group";


@import "../common/icons";

@import "../../../node_modules/selectize/dist/css/selectize.bootstrap3";


body{
  min-height: 500px;
}

//Custom

.btn {
  z-index: 10;
}

.fs-7 {
  font-size: 12px;
}

hr {
  opacity: 1;
  background: #ced4da;
}

.mt-visual {
  transform: translateY(-15%);
}

.sticky-top {
  top: 0.5em;
}

.top-1 {
  top: 10px;
}

//login
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

//home
.search-main-card {
  border-top-left-radius: 0 !important;
}

.search-main-link {
  background: rgba(255, 255, 255, 0.5);

  &.active {
    background: var(--bs-light);
  }
}


//header
.search .form-select {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

.search .form-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.badge-basket {
  font-size: 10px;
  line-height: 18px;
  top: 0;
  left: calc(100% - 10px);
  padding: 0 4px;
  min-width: 18px;
  height: 18px;
  border-radius: 50%;
}

.user-dropdown {
  cursor: pointer;
}

.user-dropdown .dropdown-toggle::before {
  display: none;
}

//table
table.dataTable {
  border: 1px solid #dee2e6 !important;
  border-radius: 0.2rem;
}

.dataTables_length label,
.dataTables_filter label {
  display: flex;
  align-items: center;
  padding: 10px 0;
  font-size: 12px;
  font-weight: bold;
}

.dataTables_wrapper .dataTables_length select {
  margin: 0 10px;
  min-width: 55px;
}

.dataTables_filter label input {
  margin-left: 10px !important;
  display: block;
}

.dataTables_wrapper .paginate_button {
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}

.table> :not(:last-child) > :last-child > * {
  font-weight: 500;
  background: #dee2e6;
  text-transform: capitalize;
}

.dataTables_wrapper .dataTables_filter input,
.dataTables_wrapper .dataTables_length select {
  border: 1px solid #ced4da;
}

table.dataTable tbody th,
table.dataTable tbody td {
  padding: 10px 18px;
  font-size: 14px;
}

table.dataTable thead th,
table.dataTable thead td {
  border: none;
}

.dtr-control::before {
  top: 11px !important;
  left: 10px !important;
  transform: scale(0.6);
}


.dataTable-load {
  opacity: 0;
}

.dataTable-load.dataTable {
  opacity: 1;
}

//modal
.modal-bottom{
  padding-bottom: 0;
}
.modal-bottom .modal-dialog {
  margin: 0 0 0 auto;
  transform: translateY(100%) !important;
}

.modal-right {
  padding-right: 0 !important;
}

.modal-right .modal-dialog {
  margin: 0 0 0 auto;
  transform: translate(100%) !important;
}

.show {
  .modal-dialog {
    transform: translate(0) !important;
  }
}
.modal-bottom .modal-dialog {
  height: auto;
  display: inline-block;
  vertical-align: bottom;
}
.modal-bottom::after {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}
.modal-right .modal-dialog {
  max-width: calc(100% - 52px);
  min-height: 100vh;
}

.modal-right .modal-content {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  border-radius: 0;
}

//garadge
.main-val-card {
  min-width: 122px;
}
.add-to-cart{
  max-width: 250px;
}

.cart .input-group{
  max-width: 160px;
}
.modal-total{
  padding-bottom: 64px;
}

.card-total{
  position: fixed;
  z-index: 2000;
  bottom: 0;
  left: 0;
  right: 0;
  
  &__main{
    border-radius: 0;
    border: none;
    background: #fff;
    padding: 15px;
    border-top: 1px solid #ccc;
    position: relative;
    height: 64px;
  }
}

header{
  z-index: 100;
  position: relative;
}
.unit-schema-part{
  position: absolute;
  cursor: pointer;
  border: 1px solid #D11020;
}
.unit-schema-part-link{
  display: block;
  width: 100%;
  height: 100%;
}
.unit-schema-part.hover .unit-schema-part-link {
  background: #d1102080
}
.unit-schema-part:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
}
.unit-schema-table tr:hover{
  background-color: #0e6efd4a;
}
.unit-schema-table .selected__12 , .unit-schema-table .selected__12 td  {
  font-weight: 600;
  background-color: #0e6efd4a !important;
}
.selectize-input input{
  display: block;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .card-checkout{
    font-size: 12px;
  }
}
.w-a{
  width: auto !important;
}
.table-wrap{
  overflow: auto;
  max-width: 100%;
}
.input-min{
  padding: 5px;
  font-size: 12px;
  max-width: 50px;
  padding-right: 0 !important;
}
.table-th thead tr th{
  border-color: #ccc;
}
.table-th{
  border-top: 1px solid #ccc;
}
.pagination{
  justify-content: space-between
}