extends components/common/layout

block header
  include components/common/header/header-inner
block content
  main.main.pt-3.pt-md-5
    .container
      .row
        .col-12.col-md-4.col-lg-3
          label.card.card-delivery.mb-3.mb-md-0(for="inlineRadio1")
            .card-body
              .d-flex
                .me-3
                  .card-title.fw-bold.fs-7(title="Adress #1123123123") Adress #1123123123
                  .card-text.fs-7.mb-1  123123123123, Ban Bat, Khet Pom Prap Sattru Phai, Bangkok, 10100, Thailand
                  .card-subtitle
                    span.text-secondary.fs-7  Phone: 
                    span.fs-7 123123123123
                .gap-2.text-center
                  input#inlineRadio1.form-check-input.mt-0(type="radio" name="inlineRadioOptions") 
      .d-flex.mb-4.mt-4
        a.btn.btn-primary(href="#") Save changes
      h2 Order review:
      hr
      .card.mb-4 
        .card-header
          .d-flex
            .mx-3 ABC Company
        .card-body 
          .row
            .col-1.text-center #
            .col-5.col-xl-6.col-md-6 Title
            .col-2.col-xl-1.col-md-1.text-end.text-nowrap Qty
            .col-2.col-xl-2.text-end.text-nowrap Price
            .col-2.col-xl-2.text-end.text-nowrap Cost
          hr
          .row.card-checkout
            .col-1.text-center 1
            .col-6.order-xl-3.order-2.order-md-2.col-xl-4.col-md-3.offset-1.offset-md-0
              span.fw-bold GASKET KIT,  ENGINE
            .col-2.text-end.order-1.col-md-2.order-md-3.order-xl-5.col-xl-2 9870.75 THB
            .text-end.col-1.order-1.col-md-1.order-md-4.fw-bold 1
            .text-end.col-2.col-xl-2.col-md-2.order-1.order-md-5.order-xl-6 9870.75 THB
            .col-6.order-6.col-md-3.col-xl-2.order-xl-2.order-md-6
              span.d-block.mb-2.fw-bold 0411106013
              span.fw-bold TOYOTA
        .card-footer.py-3
          .row 
            .col-12.col-md-6
              .mb-4 Will be shipped within 3 days
                div Free BKK shipping, ETD 1 day
            .col-12.col-md-6
              .d-flex.mb-2.text-right.justify-content-end
                span.d-block Subtotal:
                span.ms-2  9870.75 THB
              .d-flex.mb-2.text-right.justify-content-end
                span.d-block Subtotal:
                span.ms-2  9870.75 THB
              hr
              .d-flex.justify-content-end
                span.d-block Total:
                span.fw-bold.ms-2  52387.20 THB
      .card 
        .card-header
          .d-flex
            .mx-3 ABC Company
        .card-body 
          .row
            .col-1.text-center #
            .col-5.col-xl-6.col-md-6 Title
            .col-2.col-xl-1.col-md-1.text-end.text-nowrap Qty
            .col-2.col-xl-2.text-end.text-nowrap Price
            .col-2.col-xl-2.text-end.text-nowrap Cost
          hr
          .row.card-checkout
            .col-1.text-center 1
            .col-6.order-xl-3.order-2.order-md-2.col-xl-4.col-md-3.offset-1.offset-md-0
              span.fw-bold GASKET KIT,  ENGINE
            .col-2.text-end.order-1.col-md-2.order-md-3.order-xl-5.col-xl-2 9870.75 THB
            .text-end.col-1.order-1.col-md-1.order-md-4.fw-bold 1
            .text-end.col-2.col-xl-2.col-md-2.order-1.order-md-5.order-xl-6 9870.75 THB
            .col-6.order-6.col-md-3.col-xl-2.order-xl-2.order-md-6
              span.d-block.mb-2.fw-bold 0411106013
              span.fw-bold TOYOTA
        .card-footer.py-3
          .row 
            .col-12.col-md-6
              .mb-4 Will be shipped within 3 days
                div Free BKK shipping, ETD 1 day
            .col-12.col-md-6
              .d-flex.mb-2.text-right.justify-content-end
                span.d-block Subtotal:
                span.ms-2  9870.75 THB
              .d-flex.mb-2.text-right.justify-content-end
                span.d-block Subtotal:
                span.ms-2  9870.75 THB
              hr
              .d-flex.justify-content-end
                span.d-block Total:
                span.fw-bold.ms-2  52387.20 THB
      .card.mt-4
        .card-header 
          .d-flex.justify-content-between
            span Order summary:
            span 9870.75 THB
        .card-body.pt-0
          .row.justify-content-center
            .col-12
              .d-flex.justify-content-center.mt-3.mb-2
                a.btn.btn-primary.btn-lg.mx-auto(href="#") Place order
              .fw-bold.text-center Elapsed time 2:45