extends components/common/layout

block header
  include components/common/header/header-inner
block content
  main.main.pt-3.pt-md-5
    .container
      h1 MAZDA MAZDA3 2014
      include components/common/breadcrumb
      .row
        .col.col-12.col-md-4.col-lg-3
          include components/garagemodel/sidebar
        .col.col-12.col-md-8.col-lg-9
          include components/garagemodel/description
          include components/garagemodel/search