extends components/common/layout

block header
  include components/common/header/header-inner
block content
  main.main.pt-3.pt-md-5
    .container
      h2 Glossaries
      hr
      .row.mb-5 
        .col-12.col-md-4
         a.page-link.rounded(href="#") BRANDS
        .col-12.col-md-4
         a.page-link.rounded(href="#") SALE CHANNELS
        .col-12.col-md-4
         a.page-link.rounded(href="#") PRODUCT GROUPS
