extends components/common/layout

block header
  include components/common/header/header-inner
block content
  #modalAddItem.modal.fade(tabindex="-1" aria-labelledby="modalAddItemLabel" aria-hidden="true")
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          h5.modal-title(th:text="#{_.address.select}") Add name
          button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
        .modal-body
          form.needs-validation(novalidate)
            .form-group.mb-2
              label.mb-2 Name
              input.form-control(type="text")
          .d-flex.justify-content-end.gap-2
            a.btn.btn-primary(href="#") Save
  main.main.pt-3.pt-md-5
    .container
      h2 Sale channel glossary
      hr
      div.w-auto.d-inline-block
        .text-end
          a.btn.btn-primary.mb-3(data-bs-toggle="modal" data-bs-target="#modalAddItem") Add Item
        table.mb-4.mt-1.table.table-bordered.w-auto
          thead
            tr
              th.px-4.text-center Name
              th.px-4.text-center Actions
          tbody
            tr(style="vertical-align: middle")
              td.px-4.text-center workshop
              td.px-4
                .d-flex.gap-2.justify-content-end 
                  .btn.btn-outline-warning.btn-sm Edit
                  .btn.btn-outline-danger.btn-sm Delete
            tr(style="vertical-align: middle")
              td.px-4.text-center workshop
              td.px-4
                .d-flex.gap-2.justify-content-end 
                  .btn.btn-outline-warning.btn-sm Edit
                  .btn.btn-outline-danger.btn-sm Delete
            tr(style="vertical-align: middle")
              td.px-4.text-center workshop
              td.px-4
                .d-flex.gap-2.justify-content-end 
                  .btn.btn-outline-warning.btn-sm Edit
                  .btn.btn-outline-danger.btn-sm Delete
            tr(style="vertical-align: middle")
              td.px-4.text-center workshop
              td.px-4
                .d-flex.gap-2.justify-content-end 
                  .btn.btn-outline-warning.btn-sm Edit
                  .btn.btn-outline-danger.btn-sm Delete
            tr(style="vertical-align: middle")
              td.px-4.text-center workshop
              td.px-4
                .d-flex.gap-2.justify-content-end 
                  .btn.btn-outline-warning.btn-sm Edit
                  .btn.btn-outline-danger.btn-sm Delete
            tr(style="vertical-align: middle")
              td.px-4.text-center workshop
              td.px-4
                .d-flex.gap-2.justify-content-end 
                  .btn.btn-outline-warning.btn-sm Edit
                  .btn.btn-outline-danger.btn-sm Delete
            tr(style="vertical-align: middle")
              td.px-4.text-center workshop
              td.px-4
                .d-flex.gap-2.justify-content-end 
                  .btn.btn-outline-warning.btn-sm Edit
                  .btn.btn-outline-danger.btn-sm Delete
            tr(style="vertical-align: middle")
              td.px-4.text-center workshop
              td.px-4
                .d-flex.gap-2.justify-content-end 
                  .btn.btn-outline-warning.btn-sm Edit
                  .btn.btn-outline-danger.btn-sm Delete
            tr(style="vertical-align: middle")
              td.px-4.text-center workshop
              td.px-4
                .d-flex.gap-2.justify-content-end 
                  .btn.btn-outline-warning.btn-sm Edit
                  .btn.btn-outline-danger.btn-sm Delete
        ul.pagination.text-center
          li.paginate_button.page-item.previous.disabled.w-100
            a(href="#").page-link Previous
          li.paginate_button.page-item.active.w-100
            a(href="").page-link 1 
          li.paginate_button.page-item.w-100
            a(href="").page-link 2 
          li.paginate_button.page-item.w-100
            a(href="").page-link 3
          li.paginate_button.page-item.next.disabled.w-100
            a(href="#" aria-controls="priceTable" data-dt-idx="2" tabindex="0" class="page-link") Next
      .row.mt-4 
        .col-12.col-md-4
          hr
      .form-group.mb-0
        h5 Default sales channel:
        .row 
          .col-12.col-md-4
            select.form-select(aria-label="Default select example")
              option(selected) Select a language...
              option(value="1") English
              option(value="1") ไทย
        a.btn.btn-primary.mt-3(data-bs-toggle="modal" data-bs-target="#modalAddItem") Update
        