extends common/layout

block content
  main.main.h-100.bg-primary
    include includes/index/banner
  //- .container-fluid.bg-light.pt-5
  //-   .container
  //-     include includes/index/popular
  //-     include includes/index/category
  //-     include includes/index/top-products