extends components/common/layout

block header
  include components/common/header/header-inner
block content
  main.main.h-100.bg-primary
    .container.pt-3
      .card
        .card-header.py-3
          .fs-7.d-block.text-secondary Cписок страниц
        .card-body
          .row
            .col-lg-3.mb-3.mb-md-0
              a.d-block.fw-bold.page-link.rounded(href="/index.html" target="_blank") Main
            .col-lg-3.mb-3.mb-md-0
              a.d-block.fw-bold.page-link.rounded(href="/login.html" target="_blank")  Login
            .col-lg-3.mb-3.mb-md-0 
              a.d-block.fw-bold.page-link.rounded(href="/Garagemodel.html" target="_blank")  Garagemodel
            .col-lg-3
              a.d-block.fw-bold.page-link.rounded(href="/models.html" target="_blank")  Models
            .col-12
              hr
            .col-lg-3.mb-3.mb-md-0
              a.d-block.fw-bold.page-link.rounded(href="/modelunits.html" target="_blank") Modelunits
            .col-lg-3.mb-3.mb-md-0
              a.d-block.fw-bold.page-link.rounded(href="/profile-me.html" target="_blank") Profile me
            .col-lg-3.mb-3.mb-md-0
              a.d-block.fw-bold.page-link.rounded(href="/profile-client.html" target="_blank") Profile client
            .col-lg-3
              a.d-block.fw-bold.page-link.rounded.border-danger(href="/unitschema.html" target="_blank") Unitschema
            .col-12
              hr
            .col-lg-3.mb-3.mb-md-0
              a.d-block.fw-bold.page-link.rounded(href="/order.html" target="_blank") Order
            .col-lg-3.mb-3.mb-md-0
              a.d-block.fw-bold.page-link.rounded(href="/order-history.html" target="_blank") Order history
            .col-lg-3.mb-3.mb-md-0
              a.d-block.fw-bold.page-link.rounded(href="/order-detailed.html" target="_blank") Order detailed
            .col-lg-3.mb-3.mb-md-0
              a.d-block.fw-bold.page-link.rounded(href="/order-history-detailed.html" target="_blank") Order history detailed
