extends components/common/layout

block header
  include components/common/header/header-inner
block content
  main.main.pt-3.pt-md-5
    .container
      h2 Pricing
      hr
      .table-wrap
        table.mb-4.mt-1.table.table-striped.table-bordered.responsive.nowrap
          thead
            tr
              th(colspan='2') product groups
              th(colspan='2')
                strong GP
              th(colspan='2')
                strong KP
              th(colspan='2')
                strong Accessory
              th(colspan='2')
                strong BP
              th(colspan='2')
                strong Chemical
          tbody
            tr
              td Brand
              td Channel
              td Discount
              td Commission
              td Discount
              td Commission
              td Discount
              td Commission
              td Discount
              td Commission
              td Discount
              td Commission
            tr
              td Honda
              td workshop
              td
                input.form-control.w-a(data-type='discount' data-brandid='406' data-saleschannelid='408' data-productgroupid='401' type='number' value='0.00' step='0.01')
              td
                input.form-control.w-a(data-type='commission' data-brandid='406' data-saleschannelid='408' data-productgroupid='401' type='number' value='0.00' step='0.01')
              td
                input.form-control.w-a(data-type='discount' data-brandid='406' data-saleschannelid='408' data-productgroupid='402' type='number' value='0.00' step='0.01')
              td
                input.form-control.w-a(data-type='commission' data-brandid='406' data-saleschannelid='408' data-productgroupid='402' type='number' value='0.00' step='0.01')
              td
                input.form-control.w-a(data-type='discount' data-brandid='406' data-saleschannelid='408' data-productgroupid='403' type='number' value='0.00' step='0.01')
              td
                input.form-control.w-a(data-type='commission' data-brandid='406' data-saleschannelid='408' data-productgroupid='403' type='number' value='0.00' step='0.01')
              td
                input.form-control.w-a(data-type='discount' data-brandid='406' data-saleschannelid='408' data-productgroupid='404' type='number' value='0.00' step='0.01')
              td
                input.form-control.w-a(data-type='commission' data-brandid='406' data-saleschannelid='408' data-productgroupid='404' type='number' value='0.00' step='0.01')
              td
                input.form-control.w-a(data-type='discount' data-brandid='406' data-saleschannelid='408' data-productgroupid='405' type='number' value='0.00' step='0.01')
              td
                input.form-control.w-a(data-type='commission' data-brandid='406' data-saleschannelid='408' data-productgroupid='405' type='number' value='0.00' step='0.01')