extends components/common/layout

block header
  include components/common/header/header-inner
block content
  main.main.pt-3.pt-md-5
    .container
      h2 Pricing
      hr
      .table-wrap
        table.mb-4.mt-1.table.table-striped.table-bordered.responsive.nowrap
          thead
            tr
              th(colspan='2') product groups
              th(colspan='2')
                strong GP
              th(colspan='2')
                strong KP
              th(colspan='2')
                strong Accessory
              th(colspan='2')
                strong BP
              th(colspan='2')
                strong Chemical
          tbody
            tr
              td.fs-7 Brand
              td.fs-7 Channel
              td.fs-7 Discount
              td.fs-7 Commission
              td.fs-7 Discount
              td.fs-7 Commission
              td.fs-7 Discount
              td.fs-7 Commission
              td.fs-7 Discount
              td.fs-7 Commission
              td.fs-7 Discount
              td.fs-7 Commission
            tr
              td Honda
              td workshop
              td
                input.form-control.w-a.input-min(data-type='discount' data-brandid='406' data-saleschannelid='408' data-productgroupid='401' )
              td
                input.form-control.w-a.input-min(data-type='commission' data-brandid='406' data-saleschannelid='408' data-productgroupid='401' )
              td
                input.form-control.w-a.input-min(data-type='discount' data-brandid='406' data-saleschannelid='408' data-productgroupid='402' )
              td
                input.form-control.w-a.input-min(data-type='commission' data-brandid='406' data-saleschannelid='408' data-productgroupid='402' )
              td
                input.form-control.w-a.input-min(data-type='discount' data-brandid='406' data-saleschannelid='408' data-productgroupid='403' )
              td
                input.form-control.w-a.input-min(data-type='commission' data-brandid='406' data-saleschannelid='408' data-productgroupid='403' )
              td
                input.form-control.w-a.input-min(data-type='discount' data-brandid='406' data-saleschannelid='408' data-productgroupid='404' )
              td
                input.form-control.w-a.input-min(data-type='commission' data-brandid='406' data-saleschannelid='408' data-productgroupid='404' )
              td
                input.form-control.w-a.input-min(data-type='discount' data-brandid='406' data-saleschannelid='408' data-productgroupid='405' )
              td
                input.form-control.w-a.input-min(data-type='commission' data-brandid='406' data-saleschannelid='408' data-productgroupid='405' )