extends components/common/layout

block header
  include components/common/header/header-inner
block content
  main.main.pt-3.pt-md-5
  .container
    h1 Schema FRONT AXLE HOUSING & DIFFERENTIAL
    include components/common/breadcrumb
    .row
      .col-12.col-lg-8
        .d-flex.align-items-center.justify-content-center.unit-schema-picture
          img.card-img(src="https://images.blue.parts/mazda/5B0/5B042U1.png", alt="")
          #partList
            .unit-schema-part(data-coords='440,178,495,192' alt='PE2015025 - FAN,ELECTRIC' data-target='15025')
              a.unit-schema-part-link(href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false")
              .dropdown-menu.card.py-0.fs-7
                .card-body.px-2.py-2
                  .fw-bold.mb-1 Part Number
                  .mb-1.text-secondary 123123123
                  .fw-bold.mb-1 Description
                  .mb-1.text-secondary 123123123
                  hr.my-2
                  a.btn.btn-sm.btn-success.w-100 check price
            .unit-schema-part(data-coords='258,406,312,419' alt='PE2015V14 - WASHER' data-target='15113')
            .unit-schema-part(data-coords='628,562,682,576' alt='PE2015140 - FAN,COOLING' data-target='15140')
            .unit-schema-part(data-coords='276,350,343,364' alt='PE2115140 - FAN,COOLING' data-target='15140A')
            .unit-schema-part(data-coords='57,1056,111,1070' alt='PE0115182 - CLAMP,WATER HOSE' data-target='15182')
            .unit-schema-part(data-coords='218,888,272,902' alt='PE0115182 - CLAMP,WATER HOSE' data-target='15182')
            .unit-schema-part(data-coords='554,1068,608,1082' alt='PE0115182 - CLAMP,WATER HOSE' data-target='15182')
            .unit-schema-part(data-coords='656,889,710,903' alt='PE0115182 - CLAMP,WATER HOSE' data-target='15182')
            .unit-schema-part(data-coords='171,1165,225,1179' alt='PE011518YE - HOSE,WATER' data-target='15185')
            .unit-schema-part(data-coords='622,834,677,848' alt='PE201518XA - HOSE,WATER' data-target='15186')
            .unit-schema-part(data-coords='553,738,607,752' alt='PE2015200 - RADIATOR' data-target='15200')
            .unit-schema-part(data-coords='87,823,141,836' alt='B6DG15202 - RUBBER,MOUNT' data-target='15202')
            .unit-schema-part(data-coords='433,698,488,712' alt='PE2015203 - COCK,DRAIN-RADIATOR PIPE' data-target='15203')
            .unit-schema-part(data-coords='166,391,220,405' alt='PE2015205 - CAP,RADIATOR' data-target='15205')
            .unit-schema-part(data-coords='648,244,710,257' alt='PE2015150 - FAN DRIVE' data-target='152101')
            .unit-schema-part(data-coords='736,294,798,308' alt='PE2015150 - FAN DRIVE' data-target='152101')
            .unit-schema-part(data-coords='364,280,431,294' alt='PE2015210 - COWLING,RADIATOR' data-target='15210A')
            .unit-schema-part(data-coords='34,369,88,382' alt='PE0115242 - RUBBER,MOUNT-RADIATOR' data-target='15242')
            .unit-schema-part(data-coords='34,311,102,325' alt='PE0115241 - BRACKET,RADIATOR' data-target='15245A')
            .unit-schema-part(data-coords='439,937,501,950' alt='P30115373 - BRACKET' data-target='153111')
            .unit-schema-part(data-coords='294,259,348,272' alt='PE0115351A - TANK,SUB-RADIATOR' data-target='15350')
            .unit-schema-part(data-coords='250,110,317,123' alt='PE0115355B - CAP,SUB TANK' data-target='15355A')
            .unit-schema-part(data-coords='214,60,281,74' alt='PE0115381A - HOSE,SUB TANK' data-target='15381A')
            .unit-schema-part(data-coords='249,169,303,182' alt='PE0115383 - HOSE,SUB TANK' data-target='15383')
            .unit-schema-part(data-coords='99,94,166,108' alt='PE0115384 - HOSE,SUB TANK' data-target='15384A')
            .unit-schema-part(data-coords='79,952,133,966' alt='PE0815582 - CLIP,HOSE' data-target='15547')
            .unit-schema-part(data-coords='594,921,649,935' alt='PE1115582 - CLIP,WATER HOSE' data-target='15580')
            .unit-schema-part(data-coords='331,320,386,333' alt='PE2015T52 - SCREW' data-target='15T52')
            .unit-schema-part(data-coords='730,610,785,623' alt='PE2015T52 - SCREW' data-target='15T52')
            .unit-schema-part(data-coords='260,443,315,457' alt='PE2015T54 - WASHER,MOUNT-MOTOR' data-target='15T54')
            .unit-schema-part(data-coords='529,134,584,147' alt='PE2115T52 - SCREW' data-target='15T58')
              a.unit-schema-part-link(href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false")
              .dropdown-menu.card.py-0.fs-7
                .card-body.px-2.py-2
                  .fw-bold.mb-1 Part Number
                  .mb-1.text-secondary 123123123
                  .fw-bold.mb-1 Description
                  .mb-1.text-secondary 123123123
                  hr.my-2
                  a.btn.btn-sm.btn-success.w-100 check price
            .unit-schema-part(data-coords='671,146,726,160' alt='PE2115T52 - SCREW' data-target='15T58')
              a.unit-schema-part-link(href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false")
              .dropdown-menu.card.py-0.fs-7
                .card-body.px-2.py-2
                  .fw-bold.mb-1 Part Number
                  .mb-1.text-secondary 123123123
                  .fw-bold.mb-1 Description
                  .mb-1.text-secondary 123123123
                  hr.my-2
                  a.btn.btn-sm.btn-success.w-100 check price
            .unit-schema-part(data-coords='638,182,711,196' alt='C1Y567SH3 - CORD,SHORT-ELEC. FAN' data-target='67SH3E')
            .unit-schema-part(data-coords='734,207,807,220' alt='C1Y567SH3 - CORD,SHORT-ELEC. FAN' data-target='67SH3E')
            .unit-schema-part(data-coords='526,883,614,895' alt='994640616 - BOLT' data-target='99601')

      .col-12.col-lg-4.mt-4.mt-lg-0
        .sticky-lg-top.top-1
          table#schemaTable.mb-3.table.table-striped.table-bordered.responsive.nowrap.dataTable-load.unit-schema-table
            thead.heading-tables
              tr
                // remove id
                th id
                th #
                th Part Number
                th Title
                th qty
                th
            tbody
              tr
                // remove id
                td -
                td 15025
                td PE2015025
                td FAN,ELECTRIC
                td 1
                td
                  a.btn.btn-primary.btn-sm(href="#") Check Price
              tr
                // remove id
                td -
                td 15113
                td PE2015V14
                td WASHER
                td 2
                td
                  a.btn.btn-primary.btn-sm(href="#") Check Price
              tr
                // remove id
                td -
                td 15140
                td PE2015140
                td FAN,COOLING
                td 1
                td
                  a.btn.btn-primary.btn-sm(href="#") Check Price
              tr
                // remove id
                td -
                td 15140A
                td PE2115140
                td FAN,COOLING
                td 1
                td
                  a.btn.btn-primary.btn-sm(href="#") Check Price
              tr
                // remove id
                td -
                td 15182
                td PE0115182
                td CLAMP,WATER HOSE
                td 4
                td
                  a.btn.btn-primary.btn-sm(href="#") Check Price
              tr
                // remove id
                td -
                td 15185
                td PE011518YE
                td HOSE,WATER
                td 1
                td
                  a.btn.btn-primary.btn-sm(href="#") Check Price
              tr
                // remove id
                td -
                td 15186
                td PE201518XA
                td HOSE,WATER
                td 1
                td
                  a.btn.btn-primary.btn-sm(href="#") Check Price
              tr
                // remove id
                td -
                td 15200
                td PE2015200
                td RADIATOR
                td 1
                td
                  a.btn.btn-primary.btn-sm(href="#") Check Price
              tr
                // remove id
                td -
                td 15202
                td B6DG15202
                td RUBBER,MOUNT
                td 2
                td
                  a.btn.btn-primary.btn-sm(href="#") Check Price
              tr
                // remove id
                td -
                td 15203
                td PE2015203
                td COCK,DRAIN-RADIATOR PIPE
                td 1
                td
                  a.btn.btn-primary.btn-sm(href="#") Check Price
              tr
                // remove id
                td -
                td 15205
                td PE2015205
                td CAP,RADIATOR
                td 1
                td
                  a.btn.btn-primary.btn-sm(href="#") Check Price
              tr
                // remove id
                td -
                td 152101
                td PE2015150
                td FAN DRIVE
                td 1
                td
                  a.btn.btn-primary.btn-sm(href="#") Check Price
              tr
                // remove id
                td -
                td 15210A
                td PE2015210
                td COWLING,RADIATOR
                td 1
                td
                  a.btn.btn-primary.btn-sm(href="#") Check Price
              tr
                // remove id
                td -
                td 15242
                td PE0115242
                td RUBBER,MOUNT-RADIATOR
                td 2
                td
                  a.btn.btn-primary.btn-sm(href="#") Check Price
              tr
                // remove id
                td -
                td 15245A
                td PE0115241
                td BRACKET,RADIATOR
                td 2
                td
                  a.btn.btn-primary.btn-sm(href="#") Check Price
              tr
                // remove id
                td -
                td 153111
                td P30115373
                td BRACKET
                td 1
                td
                  a.btn.btn-primary.btn-sm(href="#") Check Price
              tr
                // remove id
                td -
                td 15350
                td PE0115351A
                td TANK,SUB-RADIATOR
                td 1
                td
                  a.btn.btn-primary.btn-sm(href="#") Check Price
              tr
                // remove id
                td -
                td 15355A
                td PE0115355B
                td CAP,SUB TANK
                td 1
                td
                  a.btn.btn-primary.btn-sm(href="#") Check Price
              tr
                // remove id
                td -
                td 15381A
                td PE0115381A
                td HOSE,SUB TANK
                td 1
                td
                  a.btn.btn-primary.btn-sm(href="#") Check Price
              tr
                // remove id
                td -
                td 15383
                td PE0115383
                td HOSE,SUB TANK
                td 1
                td
                  a.btn.btn-primary.btn-sm(href="#") Check Price
              tr
                // remove id
                td -
                td 15384A
                td PE0115384
                td HOSE,SUB TANK
                td 1
                td
                  a.btn.btn-primary.btn-sm(href="#") Check Price
              tr
                // remove id
                td -
                td 15547
                td PE0815582
                td CLIP,HOSE
                td 1
                td
                  a.btn.btn-primary.btn-sm(href="#") Check Price
              tr
                // remove id
                td -
                td 15580
                td PE1115582
                td CLIP,WATER HOSE
                td 1
                td
                  a.btn.btn-primary.btn-sm(href="#") Check Price
              tr
                // remove id
                td -
                td 15T52
                td PE2015T52
                td SCREW
                td 6
                td
                  a.btn.btn-primary.btn-sm(href="#") Check Price
              tr
                // remove id
                td -
                td 15T54
                td PE2015T54
                td WASHER,MOUNT-MOTOR
                td 2
                td
                  a.btn.btn-primary.btn-sm(href="#") Check Price
              tr
                // remove id
                td -
                td 15T58
                td PE2115T52
                td SCREW
                td 2
                td
                  a.btn.btn-primary.btn-sm(href="#") Check Price
              tr
                // remove id
                td -
                td 67SH3E
                td C1Y567SH3
                td CORD,SHORT-ELEC. FAN
                td 2
                td
                  a.btn.btn-primary.btn-sm(href="#") Check Price
              tr
                // remove id
                td -
                td 99601
                td 994640616
                td BOLT
                td 1
                td
                  a.btn.btn-primary.btn-sm(href="#") Check Price
      .col-12
        p.lead.mt-5.mb-5.d-none.d-md-block On this page you can select modification of your MAZDA MAZDA3   car. You can see engine name, chassis type, body, transmission, and region of origin of the vehicle. Select the required parameters and follow the link to see more detailed information about the model.
