extends components/common/layout

block header
  include components/common/header/header-inner
block content
  main.main.pt-3.pt-md-5
  .container
    h1 Schema FRONT AXLE HOUSING & DIFFERENTIAL
    include components/common/breadcrumb
    .row
      .col-12.col-lg-8
        .card.d-flex.align-items-center.justify-content-center
          img.card-img(src="https://images.blue.parts/toyota/GR/A1/358542%20.png", alt="")#partList
      .col-12.col-lg-4.mt-4.mt-lg-0
        table#schemaTable.mb-3.table.table-striped.table-bordered.responsive.nowrap.dataTable-load
          thead
            tr
              th Title
              th.text-center Qty
              th PNC
              th Part Number
              th
          tbody
            -for (var x = 0; x < 30; x++)
              tr
                td RING, O (FOR BREATHER PLUG)
                td.text-center
                  span.badge.bg-primary 5
                td 35165 
                td 
                  a(href="") 9030106021
                td 
                  a.btn.btn-primary.btn-sm(href="#") Check Price
      .col-12
        p.lead.mt-5.mb-5.d-none.d-md-block On this page you can select modification of your MAZDA MAZDA3   car. You can see engine name, chassis type, body, transmission, and region of origin of the vehicle. Select the required parameters and follow the link to see more detailed information about the model.